//------------------------------------------------------------------
// NewSearch
//------------------------------------------------------------------

.newsearch {
    display: block;
    margin: 10px 0;

    @media (min-width: $screen-sm-min) {
        display: none;
        margin-top: 0;
        margin-bottom: 0;
    }

    .form-control {
        background-color: $newsearch-bg-color;
        cursor: pointer;
    }
}
