{% for event_category in event_categories %}
    {% assign my_events = events["lf_detailed"].all_events.collection %}
{% endfor %}

{% assign content_categories = '' %}
{% for category in pos_drop.content_categories %}
    {% assign content_categories = 'true' %}
{% endfor %}

{% assign state = pos.world_nodes | last %}
{% assign zip_code = 'frontoffice.custom.zip_code.format' | translate %}

{% assign pos_phone = '' %}
{% if pos.tracked_phone and pos.tracked_phone.size != 0 %}
    {% assign pos_phone = pos.tracked_phone %}
    {% assign phone_type = 'trackedphone' %}
{% elsif pos.phone and pos.phone.size != 0 %}
    {% assign pos_phone = pos.phone %}
    {% assign phone_type = 'phone' %}
{% endif %}

<div class="pos" itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="container">
        {% include 'breadcrumb' %}
        {% include 'newsearch' %}
        {% include 'searchform' %}
    </div>
    <div class="container">
        <img src="{{frontoffice.view_short_template_path}}/images/logo-print.png" class="pos__print__logo" alt="{{'frontoffice.pos.directions.print_button' | translate}}">

        <div id="pos-carousel" class="pos__carousel carousel slide hidden-print" aria-hidden="true" data-lf-carousel>
            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for thumbnail in pos_drop.take_all_thumbnails %}
                <div class="item">
                    <img src="{{frontoffice.view_short_template_path}}/images/empty.png" data-src="{{thumbnail.current_image}}" alt="{{pos.name}} - {{pos.city}}" rel="{{thumbnail.current_image}}" />
                </div>
                {% endfor %}
            </div>

            <!-- Carousel nav -->
            {% if pos_drop.take_thumbnails.size > 1 %}
            <a class="left carousel-control" href="#pos-carousel" data-slide="prev" aria-hidden="true">
                <span class="icon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#pos-carousel" data-slide="next" aria-hidden="true">
                <span class="icon-chevron-right"></span>
            </a>
            {% endif %}
        </div>

        <div class="pos__infos row text-center">

            <h1 class="pos__infos__name title" itemprop="legalName">{{pos.name}}</h1>
            {% if pos.nearby_big_city_not_blank and pos.nearby_big_city != pos.city %}
            <div class="pos__content__nearbycity">{{'frontoffice.pos.nearby_big_city.label' | translate}} {{pos.nearby_big_city}}</div>
            {% endif %}
            <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="pos__infos__address">
                <div itemprop="streetAddress">
                    {{pos.address1}}<br>
                    {% if pos.address2 and pos.address2.size !=0  %}
                    {{pos.address2}}<br>
                    {% endif %}
                </div>
                <div>
                    {% if zip_code =='zip' %}
                    <span itemprop="addressLocality">{{pos.city}}</span>, <span itemprop="addressRegion">{{state.name}}</span> <span itemprop="postalCode">{{pos.postal_code}}</span>
                    {% else %}
                    <span itemprop="postalCode">{{pos.postal_code}}</span> <span itemprop="addressLocality">{{pos.city}}</span>
                    {% endif %}
                </div>
            </address>
            {% if hide_phone == 'true' %}
            {% assign phone_class = 'hidden' %}
            <button class="btn btn-default pos__infos__showphone hidden-print" data-lf-pos-showphone data-lf-tracking='{"bind":"click","category":"posshowphone","label":"{{pos.name | replace: "'",""}}##{{pos_phone}}"}'>{{'frontoffice.pos.details.show_phone' | translate}}</button>
            {% endif %}

            {% if pos_phone.size != 0 %}
            <div class="pos__infos__phone {{phone_class}} hidden-xs" data-lf-pos-phone>
                <span class="pos__infos__phone__label">{{'frontoffice.pos.details.phone' | translate}}</span>
                <span itemprop="telephone">{{pos_phone}} </span>
                <span class="pos__infos__phone__comment small">{{pos.phone_comment}}</span>
            </div>

            <div class="hidden-sm hidden-md hidden-lg hidden-print row row-no-padding pos__infos__phone__cta">
                <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                    <a href="tel:{{pos_phone | remove:' '}}" class="pos__infos__phone btn btn-default btn-block {{phone_class}}" data-lf-tracking='{"bind":"click","category":"pos{{phone_type}}","label":"{{pos.name | replace: "'",""}}##{{pos_phone}}"}'>
                        <em class="icon-phone"></em>
                        <span>{{pos_phone}} </span>
                        <span class="pos__infos__phone__comment small">{{pos.phone_comment}}</span>
                    </a>
                </div>
            </div>
            {% endif %}

            {% if pos.fax and pos.fax.size != 0 %}
            <div class="pos__infos__fax {{phone_class}} hidden-xs" data-lf-pos-fax>
                <span class="pos__infos__fax__label">{{'frontoffice.pos.details.fax' | translate}}</span>
                <span itemprop="faxNumber">{{pos.fax}}</span>
            </div>
            {% endif %}


            <div class="hidden-print row row-no-padding">
                {% if frontoffice.use_newsletter_request %}
                <div class="pos__infos__cta col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                    <button class="btn btn-default btn-block pos__infos__cta__newsletter" data-toggle="modal" data-target="#pos-newsletterrequest" data-lf-tracking='{"bind":"click","category":"shownewsletter","label":"{{pos.name | replace: "'",""}}"}'><em class="icon-envelope"></em> {{'frontoffice.pos.newsletter_request.title' | translate}}</button>
                </div>
                {% endif %}
                {% if frontoffice.use_address_request %}
                <div class="pos__infos__cta col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                    <button class="btn btn-default btn-block pos__infos__cta__addressrequest" data-toggle="modal" data-target="#pos-addressrequest" data-lf-tracking='{"bind":"click","category":"showaddressrequest","label":"{{pos.name | replace: "'",""}}"}'><em class="icon-paper-plane"></em> {{'frontoffice.pos.address_request.title' | translate}}</button>
                </div>
                {% endif %}
                <div class="pos__infos__cta col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 hidden-xs">
                    <button onclick="javascript:window.print()" class="btn btn-default btn-block pos__infos__cta__print" data-lf-tracking='{"bind":"click","category":"printpospage","label":"{{pos.name | replace: "'",""}}"}'><em class=icon-print></em> {{'frontoffice.pos.print' | translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% include 'poshours' %}
    </div>

    

    <div class="pos__scrolling" data-lf-pos-scrolling>
        {% if pos.description and pos.description.size != 0 %}
        <div class="pos__scrolling__section">
            <div class="container hidden-print spaced" id="tabs-presentation">
                {% include 'pospresentation' %}
            </div>
        </div>
        {% endif %}

        <div class="pos__scrolling__section">
            <div class="container spaced" id="tabs-access">
                {% include 'posaccess' %}
            </div>
        </div>

        {% if my_events.size > 0 %}
        <div class="pos__scrolling__section">
            <div class="container hidden-print spaced" id="tabs-events">
                {% include 'eventsactu' with 'lf_detailed' %}
            </div>
        </div>
        {% endif %}

        {% if pos.use_form %}
        <div class="pos__scrolling__section">
            <div class="container hidden-print spaced" id="tabs-contact">
                {% include 'poscontact' %}
            </div>
        </div>
        {% endif %}

        {% if smart_tags.products and smart_tags.products.size != 0 %}
        <div class="pos__scrolling__section">
            <div class="container hidden-print spaced" id="tabs-products">
                {% include 'posproducts' %}
            </div>
        </div>
        {% endif %}


        <div class="pos__scrolling__section">
            <div class="container hidden-print spaced" id="tabs-products">
                {% include 'pospromotions' with 'promotions' %}
            </div>
        </div>
        <div class="pos__scrolling__section">
            <div class="container hidden-print spaced" id="tabs-products">
                {% include 'pospromotions' with 'promotions2' %}
            </div>
        </div>
        <div class="pos__scrolling__section">
            <div class="container hidden-print spaced" id="tabs-products">
                {% include 'pospromotions' with 'promotions3' %}
            </div>
        </div>
        <div class="pos__scrolling__section">
            <div class="container hidden-print spaced" id="tabs-products">
                {% include 'pospromotions' with 'promotions4' %}
            </div>
        </div>
        <div class="pos__scrolling__section">
            <div class="container hidden-print spaced" id="tabs-products">
                {% include 'pospromotions' with 'promotions5' %}
            </div>
        </div>

        {% if smart_tags.services and smart_tags.services.size != 0 %}
        <div class="pos__scrolling__section">
            <div class="container hidden-print spaced" id="tabs-services">
                {% include 'posservices' %}
            </div>
        </div>
        {% endif %}

        {% if content_categories == 'true' %}
        <div class="pos__scrolling__section">
            <div class="container hidden-print spaced" id="tabs-categories">
                {% include 'poscategories' %}
            </div>
        </div>
        {% endif %}
    </div>

    {% if frontoffice.use_newsletter_request %}
    <!-- Newsletter form (Modal) -->
    <div class="modal fade" id="pos-newsletterrequest" tabindex="-1" role="dialog" aria-labelledby="pos-newsletterrequest-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title" id="pos-newsletterrequest-title">{{'frontoffice.pos.newsletter_request.title' | translate}}</div>
                </div>
                <div class="modal-body" id="lf_newsletter">
                    {% include 'posnewsletter' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if frontoffice.use_address_request %}
    <!-- Address request form (Modal) -->
    <div class="modal fade" id="pos-addressrequest" tabindex="-1" role="dialog" aria-labelledby="pos-addressrequest-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title" id="pos-addressrequest-title">{{'frontoffice.pos.address_request.title' | translate}}</div>
                </div>
                <div class="modal-body" id="lf_coordinatesrequest">
                    {% include 'posaddressrequest' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Calculate itinerary (Modal) -->
    <div class="modal fade" id="pos-itinerary" tabindex="-1" role="dialog" aria-labelledby="pos-itinerary-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title" id="pos-itinerary-title">{{'frontoffice.pos.directions.title' | translate: "name", pos.name}}</div>
                </div>
                <div class="modal-body">
                    {% include 'positinerary' %}
                </div>
            </div>
        </div>
    </div>
</div>
