<div class="home">
    <div class="container">
        <div class="home__top">
            <h1 class="home__top__title title line"><span>{{'frontoffice.search.geolocation_search.title' | translate}}</span></h1>
        </div>
        <div class="home__illustration" data-src="{{frontoffice.homepage_illustration_url}}" data-display="background"></div>

        {% include 'homesearch' %}

        {% include 'eventsslider' with 'lf_big_picture' %}

        <div class="home__intro spaced">
            <h2 class="home__intro__title title line"><span>{{'frontoffice.index_page.introduction_title' | translate}}</span></h2>
            <div class="home__intro__text">
                <p>{{'frontoffice.index_page.introduction_text' | translate | newline_to_br}}</p>
            </div>
        </div>
    </div>
    <div class="home__events">
        <div class="container">
            {% include 'eventsactu' with 'lf_detailed' %}
        </div>
    </div>
    <div class="container">
        {% include 'eventsimg' with 'lf_small_picture,2' %}

        {% include 'citiesseo' %}
        {% include 'copyright' %}
    </div>
</div>
